---
layout: default
format: blog-index
---
<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->

{% comment %}
*
* First check, if there are any posts at all
*
{% endcomment %}

{% unless site.posts == empty %}

    <div class="row">
        <div class="medium-12 columns">
            <p><strong>Lab News</strong></p>
            {% include list-posts entries='3' offset='0' %}
        </div><!-- /.medium-7.columns -->
    </div><!-- /.row -->
{% endunless %}

<div class="row" style="height: 35rem">
    <iframe src="https://player.vimeo.com/video/517903582?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" style="width: 100%; height: 100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="A New Paradigm for Vaccine Design / David Gifford"></iframe>
</div>

<div class="row" style="height: 35rem">
   <iframe title="vimeo-player" src="https://player.vimeo.com/video/696309957?h=b84e3f6edf" width="640" height="284" frameborder="0" allowfullscreen></iframe>
</div>

{% comment %}
*
* First check, if widget is empty or not by checking if there is a title
*
{% endcomment %}
<div class="row t60">
	{% if page.widget1.title %}
		{% include frontpage-widget.html widget=page.widget1 %}
	{% endif %}


	{% if page.widget2.title %}
		{% include frontpage-widget.html widget=page.widget2 %}
	{% endif %}


	{% if page.widget3.title %}
		{% include frontpage-widget.html widget=page.widget3 %}
	{% endif %}
</div><!-- /.row -->


{% comment %}
*
* Finally, if there is content, spit it out.
*
{% endcomment %}

<div class="row">
    {{ content }}
</div><!-- /.row -->
