---
layout: default
format: page-fullwidth
---
{% if page.image.title %}
<div class="row t30">
	<div class="small-12 columns">
		<img src="{{ site.urlimg }}{{ page.image.title }}" width="970" alt="{{ page.title | escape_once }}">
		{% if page.image.caption_url and page.image.caption %}
		<p class="text-right caption">
			<a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
		</p>
		{% endif %}
	</div><!-- /.small-12.columns -->
</div><!-- /.row -->
{% endif %}


<div class="row t30">
	<div class="medium-12 columns">
		<article>
			<header>
				{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
				<h1>{{ page.title }}</h1>
			</header>

			{% if page.teaser %}
			<p class="teaser">
				{{ page.teaser }}
			</p>
			{% endif %}
			
			<h2>2023</h2>

			{% assign sorted = site.publications | sort: 'date' | reverse %}
			{% for pub in sorted %}
			{% if pub.year == '2023' %}
            <div class="row">
                <div class="medium-8 columns b30 notopmargin">
					{% if pub.doi != "" %}
					<h3><a href="https://doi.org/{{ pub.doi }}" target="_blank">{{ pub.title }}</a></h3>
					{% elsif pub.arxiv != "" %}
					<h3><a href="https://arxiv.org/abs/{{ pub.arxiv }}" target="_blank">{{ pub.title }}</a></h3>
					{% else %}
					<h3><a href="{{ pub.ext }}" target="_blank">{{ pub.title }}</a></h3>
					{% endif %}
                    {{ pub.content }}
                </div>
                <div class="medium-4 columns b30">
                    <img src="{{ site.url }}/images/{{ pub.img }}" alt="figure from paper"/>
					<p style="font-size: smaller;">
						{{ pub.authors }}<br />
						<em>{{ pub.journal }}</em>. {{ pub.journalspecific }}<br />
						{% if pub.doi != "" %}
						DOI: <a href="https://doi.org/{{ pub.doi }}" target="_blank">{{ pub.doi }}</a>
						{% elsif pub.arxiv != "" %}
						arXiv: <a href="https://arxiv.org/abs/{{ pub.arxiv }}" target="_blank">{{ pub.arxiv }}</a>
						{% endif %}
					</p>
                </div>
            </div>
			{% endif %}
			{% endfor %}

			
			<!--<h2>2022</h2>

			{% assign sorted = site.publications | sort: 'date' | reverse %}
			{% for pub in sorted %}
			{% if pub.year == '2022' %}
            <div class="row">
                <div class="medium-8 columns b30 notopmargin">
					{% if pub.doi != "" %}
					<h3><a href="https://doi.org/{{ pub.doi }}" target="_blank">{{ pub.title }}</a></h3>
					{% elsif pub.arxiv != "" %}
					<h3><a href="https://arxiv.org/abs/{{ pub.arxiv }}" target="_blank">{{ pub.title }}</a></h3>
					{% else %}
					<h3><a href="{{ pub.ext }}" target="_blank">{{ pub.title }}</a></h3>
					{% endif %}
                    {{ pub.content }}
                </div>
                <div class="medium-4 columns b30">
                    <img src="{{ site.url }}/images/{{ pub.img }}" alt="figure from paper"/>
					<p style="font-size: smaller;">
						{{ pub.authors }}<br />
						<em>{{ pub.journal }}</em>. {{ pub.journalspecific }}<br />
						{% if pub.doi != "" %}
						DOI: <a href="https://doi.org/{{ pub.doi }}" target="_blank">{{ pub.doi }}</a>
						{% elsif pub.arxiv != "" %}
						arXiv: <a href="https://arxiv.org/abs/{{ pub.arxiv }}" target="_blank">{{ pub.arxiv }}</a>
						{% endif %}
					</p>
                </div>
            </div>
			{% endif %}
			{% endfor %}-->

			
			<h2>2021</h2>

			{% assign sorted = site.publications | sort: 'date' | reverse %}
			{% for pub in sorted %}
			{% if pub.year == '2021' %}
            <div class="row">
                <div class="medium-8 columns b30 notopmargin">
					{% if pub.doi != "" %}
					<h3><a href="https://doi.org/{{ pub.doi }}" target="_blank">{{ pub.title }}</a></h3>
					{% elsif pub.arxiv != "" %}
					<h3><a href="https://arxiv.org/abs/{{ pub.arxiv }}" target="_blank">{{ pub.title }}</a></h3>
					{% else %}
					<h3><a href="{{ pub.ext }}" target="_blank">{{ pub.title }}</a></h3>
					{% endif %}
                    {{ pub.content }}
                </div>
                <div class="medium-4 columns b30">
                    <img src="{{ site.url }}/images/{{ pub.img }}" alt="figure from paper"/>
					<p style="font-size: smaller;">
						{{ pub.authors }}<br />
						<em>{{ pub.journal }}</em>. {{ pub.journalspecific }}<br />
						{% if pub.doi != "" %}
						DOI: <a href="https://doi.org/{{ pub.doi }}" target="_blank">{{ pub.doi }}</a>
						{% elsif pub.arxiv != "" %}
						arXiv: <a href="https://arxiv.org/abs/{{ pub.arxiv }}" target="_blank">{{ pub.arxiv }}</a>
						{% endif %}
					</p>
                </div>
            </div>
			{% endif %}
			{% endfor %}
			
			<h2>2020</h2>

			{% assign sorted = site.publications | sort: 'date' | reverse %}
			{% for pub in sorted %}
			{% if pub.year == '2020' %}
            <div class="row">
                <div class="medium-8 columns b30 notopmargin">
					{% if pub.doi != "" %}
					<h3><a href="https://doi.org/{{ pub.doi }}" target="_blank">{{ pub.title }}</a></h3>
					{% elsif pub.arxiv != "" %}
					<h3><a href="https://arxiv.org/abs/{{ pub.arxiv }}" target="_blank">{{ pub.title }}</a></h3>
					{% else %}
					<h3><a href="{{ pub.ext }}" target="_blank">{{ pub.title }}</a></h3>
					{% endif %}
                    {{ pub.content }}
                </div>
                <div class="medium-4 columns b30">
                    <img src="{{ site.url }}/images/{{ pub.img }}" alt="figure from paper"/>
					<p style="font-size: smaller;">
						{{ pub.authors }}<br />
						<em>{{ pub.journal }}</em>. {{ pub.journalspecific }}<br />
						{% if pub.doi != "" %}
						DOI: <a href="https://doi.org/{{ pub.doi }}" target="_blank">{{ pub.doi }}</a>
						{% elsif pub.arxiv != "" %}
						arXiv: <a href="https://arxiv.org/abs/{{ pub.arxiv }}" target="_blank">{{ pub.arxiv }}</a>
						{% endif %}
					</p>
                </div>
            </div>
			{% endif %}
			{% endfor %}
			
			<h2>2019</h2>

			{% assign sorted = site.publications | sort: 'date' | reverse %}
			{% for pub in sorted %}
			{% if pub.year == '2019' %}
            <div class="row">
                <div class="medium-8 columns b30 notopmargin">
					{% if pub.doi != "" %}
					<h3><a href="https://doi.org/{{ pub.doi }}" target="_blank">{{ pub.title }}</a></h3>
					{% elsif pub.arxiv != "" %}
					<h3><a href="https://arxiv.org/abs/{{ pub.arxiv }}" target="_blank">{{ pub.title }}</a></h3>
					{% else %}
					<h3><a href="{{ pub.ext }}" target="_blank">{{ pub.title }}</a></h3>
					{% endif %}
                    {{ pub.content }}
                </div>
                <div class="medium-4 columns b30">
                    <img src="{{ site.url }}/images/{{ pub.img }}" alt="figure from paper"/>
					<p style="font-size: smaller;">
						{{ pub.authors }}<br />
						<em>{{ pub.journal }}</em>. {{ pub.journalspecific }}<br />
						{% if pub.doi != "" %}
						DOI: <a href="https://doi.org/{{ pub.doi }}" target="_blank">{{ pub.doi }}</a>
						{% elsif pub.arxiv != "" %}
						arXiv: <a href="https://arxiv.org/abs/{{ pub.arxiv }}" target="_blank">{{ pub.arxiv }}</a>
						{% endif %}
					</p>
                </div>
            </div>
			{% endif %}
			{% endfor %}
			
			<h2>2018</h2>

			{% assign sorted = site.publications | sort: 'date' | reverse %}
			{% for pub in sorted %}
			{% if pub.year == '2018' %}
            <div class="row">
                <div class="medium-8 columns b30 notopmargin">
					{% if pub.doi != "" %}
					<h3><a href="https://doi.org/{{ pub.doi }}" target="_blank">{{ pub.title }}</a></h3>
					{% elsif pub.arxiv != "" %}
					<h3><a href="https://arxiv.org/abs/{{ pub.arxiv }}" target="_blank">{{ pub.title }}</a></h3>
					{% else %}
					<h3><a href="{{ pub.ext }}" target="_blank">{{ pub.title }}</a></h3>
					{% endif %}
                    {{ pub.content }}
                </div>
                <div class="medium-4 columns b30">
                    <img src="{{ site.url }}/images/{{ pub.img }}" alt="figure from paper"/>
					<p style="font-size: smaller;">
						{{ pub.authors }}<br />
						<em>{{ pub.journal }}</em>. {{ pub.journalspecific }}<br />
						{% if pub.doi != "" %}
						DOI: <a href="https://doi.org/{{ pub.doi }}" target="_blank">{{ pub.doi }}</a>
						{% elsif pub.arxiv != "" %}
						arXiv: <a href="https://arxiv.org/abs/{{ pub.arxiv }}" target="_blank">{{ pub.arxiv }}</a>
						{% endif %}
					</p>
                </div>
            </div>
			{% endif %}
			{% endfor %}

			{{ content }}
		</article>
	</div><!-- /.medium-12.columns -->
</div><!-- /.row -->


